swagger: '2.0'
info:
  description: ''
  version: 1.0.0
  title: Swagger Bills Tracker
host: bills.codespace.ro
basePath: /api
tags:
  - name: bills
schemes:
  - https
paths:
  /bills:
    get:
      tags:
        - bills
      summary: Get all bills from the server
      operationId: getBills
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: success
          schema:
            type: array
            items:
              $ref: '#/definitions/BillDTO'
    post:
      tags:
        - bills
      summary: Store a bill
      description: ''
      operationId: saveBill
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Bill object that needs to be stored
          required: true
          schema:
            $ref: '#/definitions/BillDTO'
      responses:
        '200':
          description: success
  '/bills/{billId}':
    post:
      tags:
        - bills
      summary: Updates an existing bills
      operationId: updateBill
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: billId
          in: path
          required: true
          type: integer
          format: int32
        - in: body
          name: body
          description: Updated bill dto
          required: true
          schema:
            $ref: '#/definitions/BillDTO'
      responses:
        '200':
          description: Success
    delete:
      tags:
        - bills
      summary: Deletes a bill
      operationId: deleteBill
      produces:
        - application/json
      parameters:
        - name: billId
          in: path
          description: Bill id to delete
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Success
definitions:
  BillDTO:
    type: object
    properties:
      id:
        type: integer
        format: int32
      name:
        type: string
      day_of_month:
        type: integer
        format: int32
        maximum: 31
        minimum: 1
      currency:
        type: string
        enum:
          - 'RON'
          - 'EUR'
          - 'USD'
      price:
        type: number
        format: float
      fixed_price:
        type: integer
        format: int32
        default: 1
      